{
  "extends": ["prettier", "airbnb"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "linebreak-style": "off",
    "object-curly-newline": [
      "error",
      { "ImportDeclaration": { "multiline": true, "minProperties": 3 } }
    ],
    "object-property-newline": "error",
    "react/function-component-definition": ["error", { "namedComponents": "arrow-function" }]
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx"],
      "env": {
        "jest": true
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
